/*Master*/
.master_dropdow_list{
	position: relative;
	display: inline-block;
	width: auto;
}
.master_dropdow_list:hover .master_dropdow_list_content{
	display: block;
}
.master_dropdow_list:hover {
	background: #7c8490;
}
.master_dropdow_list_content{
	display: none;
    position: absolute;
    top: 100%;
    z-index: 9999;
    background: #7c8490;
    width:auto;
    margin-top: -2px;
    padding-top: 5px;
}
.master_dropdow_child_list:hover,.list_result_search:hover{
	background-color: #FF3399;
}
.master_dropdow_child_list{
	width: 100%;
}
.list_result_search{width: 100%;padding-left: 5%;height: 30px;}
.list-search{
	display: none;
    position: absolute;
    top: 100%;
    z-index: 9999;
	background: #ffffff;
	height: auto;
	font-size: 14px;
    padding: 5px 0 5px 0;
}
.collapse{
	margin-left: 4%;
}
/* Đăng Nhập*/
.container_login{
    height:500px;
    margin-left: 10%;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
    background-color:  white;
    width: 70%;
}
.in_lineblock{
	color: black;
	width: 90%;
	margin:  10px 0 0 10px;
}
.login_form{
	font-size: 14px;
	text-align: center;
}
.label_register{
	margin-top: 10px;
	width: 25%;
	float: left;
	margin-left: 5%;
	text-align: right;
}
.input_register {
	margin-left: 15px;
   	float: left;
    margin-bottom: 20px;
    width: 60%;
}
.stylelogin{
	width: 25%;
	background-color:  #FF3399;
	border-radius: 0px;
}
.forgot_pass{
	color: #199cb7;
}
.container {
    padding: 16px;
    width: 100%;
}
.left{
	width: 60%;
	height: 90%;
	padding: 0px;
	float: left;
}
.center{
	float: left;
	height: 95%;
	width: 5%;
	padding-top: 33px;
}
.or_center{
	position: absolute;
	top:50%;
	left: 53.5%;
	background-color: white;
	font-weight: 800;
}
.right{
	width: 35%;
	float: left;
	height: 90%;
}
.inner{
	border-left: 1px dotted #b6b6b6;
	height: 100%;
	margin-left: 30px;
}
.social_inner{
	height: 100%;
	width: 40%;
	margin-left: 30px;
	margin-top: 20px;
	vertical-align: middle;
}
.fb_wrapper{
	border: 1px solid  #3B5997;
	margin:  0px;
	vertical-align: sub;
}
.google_wrapper{
	border: 1px solid  #ea4335;
	margin:  20px 0 0 0;
}


/* Mua Hàng*/
.container_buy{
	width: 100%;
}
.ship_form{
	padding: 0px;
	margin-left: 5%;
	border: 1px solid  #CFCFCF;
}
.header_buy{
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid  #CFCFCF;
}
.label_buy{
	font-weight: 500;
	
}
.input_buy{
	border-radius: 10px;
	border-color: #e7e7e7;
}
.button_buy{
	float: left;
	width: 40%;
	margin-left: 20%;
}
.title_form{
	margin-left: 2%;
	border: 1px solid  #CFCFCF;
	padding: 0px;
}
.order_container{
	width: 100%;
	background: #fafafa;
	font-size: 14px;
}
.table_order{
	width: 100%;
	color: gray;
	font-weight: 500;
}
.table_order_left{
	padding: 2% 0 3% 2%;
	width: 55%;
	text-align: left;
}
.table_order_center{
	padding: 2% 0 2% 0;
	width: 10%;
	text-align: center;
}
.table_order_right{
	padding: 2% 5% 2% 0;
	width: 35%;
	text-align: right;
}
.infor_order{
	width: 100%;
}
.table_infor_order{
	width: 100%;
	background: white;
	color: black;
}
.ship_order{
	width: 100%;
}
.table_ship_order{
	width: 100%;
	color: black;
}

/* sidebar Information */
.account_menu{
	float: left;
	width: 12%;
	margin-left: 3%;
}
.account_menu_list{
	font-size: 14px;
	padding-top: 10px;
}
.account_menu_group{
	padding:0px;
	color: black;
}
.account_menu_item{
	margin: 5px 0 5px 0;
}
.account_menu_link_active{
	color: black;
}
.account_menu_item a{
	color: #1a9cb7;
}
.account_menu_item a:focus  {
	color: black;
}
.account_menu_item a:hover{
	text-decoration: underline;
}
/* Information */
.account_content{
	float: left;
	width: 75%;
	margin: 0 5% 0 5%;
	font-size: 14px;
	color: #202020;
}
.account_form_content{
	margin-top: 15px;
	width: 100%;
	padding: 10px;
	background: white;
}
.label_info{
	margin-top: 10px;
	width: 20%;
	float: left;
	text-align: right;
}
.input_info{
	margin-left: 15px;
   	float: left;
    margin-bottom: 20px;
    width: 60%;
    padding-top: 7px;
}
.info_change a{
	color: #1a9cb7;
}
.info_change a:hover{
	text-decoration: underline;
}
/* List_order */
.list_order_form_content{
	width:100%;
	height: 100%;
	margin-top: 10px;
	background: white;
}
.list_order_table{
	height: 100%;
	width: 100%;
}
.list_order_table_th{
	display: table-cell;
    padding: 12px 15px;
}
.list_order_table a:hover{
	text-decoration: underline;
}

/*change_Pass*/
.change_pass_row{
	padding-left: 32%;
}
.change_pass_button_luu{
	width: 200px;
	border-radius: 0px;
	background-color: #f57224
}
.change_pass_button_huy{
	width: 200px;
	border-radius: 0px;
}
/* change_info */
.change_info_row{
	padding-left: 22%;
}
/* Follow_order */
.follow_order_form_head{
	background-color: white; 
	margin-bottom: 15px;
}
.follow_order_table{
	width: 100%;
	height: 100%;
}
.follow_order_form_content{
	background-color: white;
}
.status_order{
	border-bottom: 1px solid #f1f1f1;
	padding: 15px 0 10px 15px;
	font-size: 18px;
	font-weight: 400;
}
.follow_order_detail_progress{
	padding: 10px 100px 10px 150px;
	align-items: center;
	display: flex;
}
.follow_order_detail_state{
	background-color: gray;
	border-radius: 50%;
	height: 14px;
	width: 14px;
}
.follow_order_detail_state_name{
	left: 32%;
	top: 68%;
    padding: 10px 0;
    position: absolute;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
}

/*Manager*/
.manage-child-menu{
	width: 100%;
}
/*user*/
.cart-item{
	width:100%;
}
.button_like{
	background: #f7544a;color: #fff;
	border: 1px solid #fe5252;
}
.button_like .fa{color: #fff;}

.button_like:hover{
	background:#fff;
	border: 1px solid #cccccc;
}
.button_like:hover .fa{
	color:#f7544a;
}
/*detail*/
.zoomWrapper{
	height:311px;width:328px;
}
.remove{margin-left: 50px;
}